"*":
  "atom-commander":
    panel:
      hideOnOpen: true
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "da862ef6-b9cd-4e1e-90e2-e31f187275fb"
  "ide-cquery":
    enableSemanticHighlighting: true
    initializationOptions:
      xref:
        container: true
  "vim-mode-plus":
    ignoreCaseForSearch: true
    smoothScrollOnMiniScroll: true
    statusBarModeStringStyle: "long"
    useSmartcaseForSearch: true
